@-moz-keyframes spinCW { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinCW { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinCW { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spinCCW { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spinCCW { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spinCCW { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }


.acid{
  height: 256px;
  width: 256px;
  position: relative;
  background-color: white;
  overflow: hidden;
}

.mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.slide {
  position: absolute;
  width: 800px;
  opacity: .5;
}

.slide1 {
  -webkit-animation:spinCW 12s linear infinite;
  -moz-animation:spinCW 12s linear infinite;
  animation:spinCW 12s linear infinite;
  top: -300px;
  left: -100px;
}

.slide2 {
  -webkit-animation:spinCCW 14s linear infinite;
  -moz-animation:spinCCW 14s linear infinite;
  animation:spinCCW 14s linear infinite;
  top: -300px;
  left: -500px;
}

.slide3 {
  -webkit-animation:spinCW 18s linear infinite;
  -moz-animation:spinCW 18s linear infinite;
  animation:spinCW 18s linear infinite;
  top: -300px;
  left: -100px;
}
